and_chr 84
and_ff 79
and_qq 10.4
and_uc 12.12
android 81
baidu 7.12
chrome 85
chrome 84
chrome 83
edge 84
edge 83
firefox 80
firefox 79
firefox 78
firefox 68
ie >= 11
ios_saf 13.4-13.5
ios_saf 13.3
ios_saf 13.0-13.1
ios_saf 12.2-12.4
ios_saf 12.0-12.1
kaios 2.5
op_mini all
op_mob 46
opera 70
opera 69
safari 13.1
safari 13
samsung 12.0
samsung 11.1-11.2
