{
  "extends": "eslint-config-logux/browser",
  "rules": {
    "security/detect-unsafe-regex": "off",
    "global-require": "off"
  },
  "overrides": [
    {
      "files": [
        "*.test.js"
      ],
      "rules": {
        "es5/no-arrow-functions": "off"
      }
    }
  ]
}
